.book-filters{
    background-color: white;
    margin: 12px;
    padding: 12px;
    margin-right: 6px;
    min-height: calc(100vh - 94px);
    box-sizing: border-box;
    min-width: 200px;
    max-width: 400px;
    width: 22vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.404);
    border-radius: 2px;
    overflow: scroll;
}

.book-filters .search-bar{
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    border: 1px solid rgba(0, 0, 0, 0.205);
    color: rgba(0, 0, 0, 0.733);
    width: 100%;
}

.book-filters .search-bar:focus{
    border: 1px solid #00979c;
}

.book-filters h4, .book-filters h5{
    margin: 12px 0px;
    font-family: 'Arial', sans-serif;
    color: #4a4a4a;
}

/* Filter options */

.book-filters .filter-options{
    max-height: 45%;
    overflow: scroll;
}

.book-filters h6{
    margin: 6px 0px;
}

.book-filters .option input{
    margin-right: 12px;
}

.book-filters .option{
    display: flex;
    align-items: center;
    padding: 6px 0px;
    color: rgba(0, 0, 0, 0.637);
    font-size: 0.8em;
}

.filters-applied{
    padding: 0px;
    overflow-wrap: normal;
}

.filter-applied{
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 0.8em;
    display: inline-block;
}