.notification{
    position: absolute;
    top: 10px;
    left: calc(50% - 15vw);
    height: 50px;
    min-width: 30vw;
    max-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: bold;
    animation: showNotification 5.1s ease-in-out;
    z-index: 100000000000;
}

.notification p{
    display: flex;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255);
    padding: 0px 12px;
    padding-left: 0px;
}

.notification i{
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.4em;
}

.notification .far{
    color: rgb(8, 190, 8);
}

.notification .fas{
    color: rgb(190, 20, 8);
}

@keyframes showNotification {
    0%{
        transform: translateY(-300px);
    }
    10%{
        transform: translateY(15px);
    }
    12%{
        transform: translateY(-5px);
    }
    14%{
        transform: translateY(6px);
    }
    16%{
        transform: translateY(0px);
    }
    84%{
        transform: translateY(0px);
    }
    86%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-300px);
    }
}