.individual-book{
    padding: 0px;
    max-height: calc(100vh - 70px);
    width: 100%;
    overflow: scroll;
    position: relative;
    background-color: #2fa35f34;
}

/* Book rating */

.i-b-rating .fas{
    color: #fff131;
    cursor: pointer;
}

/* *** */

.book-grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 12px;
    padding: 12px;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
}

/* Book info */

.book-info{
    background-color: white;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.432);
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-row-gap: 6px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.book-info img{
    max-height: 300px;
    margin-right: 12px;
}

.book-info p, .book-info h6{
    margin: 0px;
    padding: 6px 0px;
}

.book-info h2{
    margin: 6px 0px;
    max-height: 2.4em;
    line-height: 1.2em;
    overflow: hidden;
}

.book-description{
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
}

.book-description p{
    margin: 0px;
}

.book-comments{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.432);
    padding: 12px;
}

.i-b-btns{
    background-color: #fff131;
}

.book-info .wishlist-btn{
    display: block;
    border: none;
    border-radius: 2px;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #2fa35f;
    font-size: 1em;
    cursor: pointer;
    margin: 6px 0px;
}