.individual-book{
    padding: 0px;
    max-height: calc(100vh - 70px);
    width: 100%;
    position: relative;
    background-color: #2fa35f34;
    background: linear-gradient(to bottom, var(--color1), var(--color2));
}

/* Book rating */

.i-b-rating .fas{
    color: #fff131;
    cursor: pointer;
}

/* *** */

.book-grid{
    display: flex;
    padding: 12px;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: scroll;
}

/* Book info */

.book-info{
    background-color: white;
    padding: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.432);
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 94px);
}

.book-info img{
    max-height: 300px;
    margin-right: 12px;
}

.book-info p, .book-info h6{
    margin: 0px;
    padding: 6px 0px;
}

.book-info h2{
    margin: 6px 0px;
    max-height: 2.4em;
    line-height: 1.2em;
    overflow: hidden;
}

.book-description{
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    align-items: center;
}

.book-description p{
    margin: 0px;
}

.book-info .wishlist-btn{
    display: block;
    border: none;
    border-radius: 2px;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: var(--color2);
    font-size: 1em;
    cursor: pointer;
    margin: 6px 0px;
}

.book-chat{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.432);
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0px;
    max-height: 100%;
    min-width: 30vw;
    margin-left: 12px;
    overflow: hidden;
}
.other-books{
    max-width: 40vw;
}

@media screen and (max-width: 600px){
    .individual-book{
        max-height: none;
    }

    .book-grid{
        flex-direction: column;
    }

    .book-info{
        margin-bottom: 12px;
        max-height: none;
    }

    .book-info img{
        min-height: 100px;
    }

    .book-info button{
        width: 100%;
    }

    .book-info div:nth-child(1){
        flex-direction: column;
    }

    .i-b-rating{
        text-align: center;
        padding-top: 12px;
    }

    .book-info small{
        width: 100%;
        text-align: center;
        display: block;
        margin: 0px !important;
        padding-bottom: 12px;
    }

    .book-chat{
        margin-left: 0px;
        height: 60vh;
    }
}