.app-menu{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: scroll;
    width: 260px;
    min-width: 260px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 0px 10px 5px rgba(172, 172, 172, 0.623);
    z-index: 1;
    position: absolute;
    transform-origin: left;
    animation: showAppMenu 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    min-height: calc(100vh - 70px);
}

.app-menu-title{
    color: #00ae9f;
    padding: 12px;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    border-top: 1px solid rgba(0, 0, 0, 0.281);
}

.app-menu.app-menu-closed{
    transform: translateX(-100%);
}

.app-menu .menu-item{
    display: flex;
    align-items: center;
}

.app-menu .menu-item i{
    flex: 2;
    display: flex;
    justify-content: center;
}

.app-menu .menu-item span{
    flex: 10;
}

/* Wishlist container */

.app-menu .wishlist{
    max-height: 280px;
    overflow: scroll;
}

/* /// */

.app-menu a{
    display: block;
    width: 100%;
    padding: 12px;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 300;
    box-sizing: border-box;
    transition: all 0.2s;
    position: relative;
}

.app-menu a::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.521);
}

.app-menu i{
    color: white;
}

.app-menu a:hover{
    background-color: rgba(0, 0, 0, 0.082);
    cursor: pointer;
}

.app-menu a:hover i{
    color: black;
}

.app-menu .menu-item{
    font-weight: 500;
    position: relative;
}

.app-menu .menu-item span{
    max-width: 260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app-menu .menu-item i{
    color: rgba(0, 0, 0, 0.582);
}

.app-menu .menu-item:hover::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color2);
}


/* Animations */

@keyframes showAppMenu {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0px);
    }
}