.publish-container{
    padding: 12px;
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    overflow: scroll;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236); 
}

.publish-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.publish-form h1{
    grid-column-start: 1;
    grid-column-end: 4;
}

.publish-form textarea{
    grid-column-start: 1;
    grid-column-end: 4;
}

.publish-form input{
    margin: 4px 0px;
    background-color: rgb(34, 117, 165);
    padding: 12px;
    border: none;
    font-size: 1em;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.432);
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
}

.publish-btn{
    width: 100%;
    background-color: orange;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.17em;
    font-weight: bold;
    margin: 12px 0px;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.322);
}

.publish-btn:hover{
    cursor: pointer;
}


.publish-btn-disabled{
    width: 100%;
    background-color: rgba(255, 166, 0, 0.692);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.17em;
    font-weight: bold;
    margin: 12px 0px;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.322);
}

/* PUBLISH LOADER */

.publish-loader{
    position: relative;
    height: 22px;
}

.publish-loader div:nth-child(1){
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: publishLoader 0.6s ease-in-out infinite;
    animation-delay: 0.2s;
}

.publish-loader div:nth-child(2){
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    top: 50%;
    left: calc(50% - 18px);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: publishLoader 0.6s ease-in-out infinite;
}

.publish-loader div:nth-child(3){
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    top: 50%;
    left: calc(50% + 18px);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: publishLoader 0.6s ease-in-out infinite;
    animation-delay: 0.4s;
}

@keyframes publishLoader {
    0%{transform: translate(-50%, -50%); opacity: 0.4;}
    50%{transform: translate(-50%, calc(-50% - 5px)); opacity: 1;}
    100%{transform: translate(-50%, -50%); opacity: 0.4; }
}