.app-navbar{
    display: flex;
    background-color: rgb(240, 240, 240);
    height: 70px;
    width: 100%;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    z-index: 10;
    box-sizing: border-box;
    position: relative;
}

.app-navbar img{
    margin-right: 12px;
}

.app-navbar a{
    color: rgba(0, 0, 0, 0.699);
}

.app-navbar div:nth-child(1){
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.17em;
    padding: 24px;
    box-sizing: border-box;
}

/* Settings */

.app-navbar .navbar-settings{
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.app-navbar .navbar-settings i{
    padding: 12px;
    transition: all 0.4s ease;
}

.app-navbar .navbar-settings i:hover{
    transform: rotate(120deg);
    cursor: pointer;
}

.app-navbar .navbar-menu-open{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    transform: translateY(100%) scale(1);
    transition: all 0.5s;
    opacity: 1;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.336);
    background-color: rgb(240, 240, 240);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.app-navbar .navbar-menu-open h4{
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    margin: 0px;
    padding: 12px;
    text-align: center;
    font-weight: 500;
}

.app-navbar .navbar-menu-open h4:hover{
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}


.app-navbar .navbar-menu-closed{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    opacity: 0;
    padding: 0px !important;
    opacity: 0;
    transform: translateY(0px) scale(0);
    transition: all 0.5s;
}

.app-navbar .navbar-menu-closed h4{
    text-align: center;
    transform: scale(0);
}
