.app-navbar{
    display: flex;
    background: var(--color1);
    height: 70px;
    width: 100%;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    z-index: 10;
    box-sizing: border-box;
    position: relative;
}

.app-navbar img{
    margin-right: 12px;
}

.app-navbar a{
    color: white;
    transition: all 0.3s ease-in-out;
}

.app-navbar div:nth-child(1){
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.17em;
    padding: 24px;
    box-sizing: border-box;
    font-weight: 600;
    transition: all 0.3s;
    letter-spacing: -1px;
    word-spacing: 0px;
}
.app-navbar div:nth-child(1):hover a{
    color: white;
}

/* Menu opener */

.menu-closed{
    height: 30px;
    width: 30px;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: translateY(1px);
}

.menu-closed span:nth-child(1){
    position: absolute;
    background-color: white;
    height: 3px;
    width: 24px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.menu-closed span:nth-child(2){
    position: absolute;
    background-color: white;
    height: 3px;
    width: 24px;
    border-radius: 2px;
    top: calc(50% - 8px);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.menu-closed span:nth-child(3){
    position: absolute;
    background-color: white;
    height: 3px;
    width: 24px;
    border-radius: 2px;
    top: calc(50% + 8px);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.menu-open{
    height: 30px;
    width: 30px;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: translateY(1px);
}

.menu-open span:nth-child(1){
    position: absolute;
    background-color: white;
    height: 3px;
    width: 24px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.2, 1);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.menu-open span:nth-child(2){
    position: absolute;
    background-color: white;
    height: 3px;
    width: 24px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.4s ease-in-out;
}

.menu-open span:nth-child(3){
    position: absolute;
    background-color: white;
    height: 3px;
    width: 24px;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.4s ease-in-out;
}

/* Settings */

.app-navbar .navbar-settings{
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    justify-content: flex-end;
    padding: 24px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.app-navbar .navbar-settings i{
    color: rgb(228, 228, 228);
    padding: 12px;
    margin: 0px 6px;
    transition: all 0.4s ease, color 0.2s;
    cursor: pointer;
    position: relative;
    font-size: 1.1em;
}

.app-navbar .navbar-settings i:hover{
    color: white;
}

.app-navbar .navbar-settings .fa-cog:hover{
    transform: rotate(120deg);
}

.app-navbar .navbar-settings .fa-bell span{
    position: absolute;
    font-size: 0.8em;
    background-color: rgb(255, 91, 31);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 0;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    animation: popUpNotificationCount 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Settings Menu */

.navbar-menu{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 200px;
    transform-origin: right;
    transform: scale(1);
    transition: all 0.5s;
    opacity: 1;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.336);
    background-color: white;
    color: var(--color1);
    z-index: 2;
    animation: showNavbarMenu 0.5s cubic-bezier(0.475, 0.885, 0.32, 1.275);
}

.navbar-menu.navbar-menu-closed{
    transform: translateY(-100%);
}

.navbar-menu h4{
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    margin: 0px;
    padding: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 0.9em;
}

.navbar-menu h4:hover{
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

@keyframes showNavbarMenu {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes popUpNotificationCount {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}



@media screen and (max-width: 800px){
    .app-navbar{
        position: sticky !important;
        top: 0px;
        left: 0px;
    }

    .app-navbar div:nth-child(1) a{
        display: none;
    }

    .app-navbar .navbar-settings {
        padding: 0px;
        padding-right: 12px;
    }

    .app-navbar .navbar-settings i{
        margin: 0px 3px;
    }

}
