.signup-container{
    background: radial-gradient(rgb(59, 183, 255), #2274A5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container div{
    background-color: rgb(240, 240, 240);
    width: 40%;
    padding: 24px;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
}

.signup-container div:nth-child(1){
    animation: signupFormEnter1 0.5s ease-in-out;
}

.signup-container div:nth-child(2){
    animation: signupFormEnter2 0.5s ease-in-out;
}

.signup-container h1{
    text-align: center;
    margin-bottom: 32px;
    font-size: 1.7em;
    text-transform: uppercase;
}

.signup-container p{
    margin: 8px 0px;
    margin-top: 12px;
    margin-left: -8px;
}

.signup-container input{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.signup-container input:focus{
    border: 1px solid rgb(0, 119, 255);
}

.signup-container i:hover{
    cursor: pointer;
}

.signup-container .signup-email{
    position: relative;
    display: flex;
    align-items: center;
}

.signup-gender-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 4px 0px;
}

.signup-gender-options span{
    margin-right: 24px;
    margin-left: 6px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.signup-user-created{
    transition: all 0.4s cubic-bezier(0.93,-0.79, 1, 0.76);
    transform: scale(0);
}

.user-signed-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
}

.signup-to-login{
    text-align: center;
    margin: 0px;
    padding-top: 12px;
}

.signup-to-login a{
    color: #2274A5;
}

/* VALID/INVALID TEXTS */

.valid-email-text{
    color: rgb(10, 201, 10);
    font-size: 0.9em;
    margin-left: 12px !important;
}

.invalid-email-text{
    color: rgb(231, 26, 26);
    font-size: 1em;
    margin-left: 12px !important;
}

/* BUTTONS */

.signup-form-next-btn{
    background-color: rgb(255, 135, 55);
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 24px 0px;
    margin-bottom: 0px;
    width: 100%;
    transition: all 0.4s;
}

.signup-form-next-btn:hover{
    cursor: pointer;
}

.signup-form-next-btn-disabled{
    background-color: rgba(255, 135, 55, 0.603);
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 24px 0px;
    margin-bottom: 0px;
    width: 100%;
    transition: all 0.4s;
}

/* ANIMATIONS */

@keyframes signupFormEnter1{
    0%{
        opacity: 0;
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes signupFormEnter2{
    0%{
        opacity: 0;
        transform: scale(0.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}