.signup-container{
    background: radial-gradient(rgb(59, 183, 255), #2274A5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container .signup-form{
    background-color: rgb(240, 240, 240);
    width: 400px;
    padding: 24px;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    position: relative;
}

.signup-container div:nth-child(1){
    animation: signupFormEnter1 0.5s ease-in-out;
}

.signup-container div:nth-child(2){
    animation: signupFormEnter2 0.5s ease-in-out;
}

.signup-container h1{
    margin-bottom: 32px;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.signup-container p{
    margin: 8px 0px;
    margin-top: 12px;
    margin-left: -8px;
}

.signup-container i:hover{
    cursor: pointer;
}

.signup-container .signup-email{
    position: relative;
    display: flex;
    align-items: center;
}

.signup-gender-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 4px 0px;
}

.signup-gender-options span{
    margin-right: 24px;
    margin-left: 6px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.signup-user-created{
    transition: all 0.4s cubic-bezier(0.93,-0.79, 1, 0.76);
    transform: scale(0);
    width: 400px;
    z-index: 1;
}

.user-signed-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
}

.signup-to-login{
    text-align: center;
    margin: 0px;
    padding-top: 12px;
}

.signup-to-login a{
    color: #2274A5;
}

/* VALID/INVALID TEXTS */

.valid-email-text{
    color: rgb(10, 201, 10);
    font-size: 0.9em;
    margin-left: 12px !important;
}

.invalid-email-text{
    color: rgb(231, 26, 26);
    font-size: 1em;
    margin-left: 12px !important;
}

/* BUTTONS */

.signup-form-next-btn{
    background-color: rgb(255, 135, 55);
    border: none;
    border-radius: 2px;
    padding: 12px 24px;
    font-size: 1em;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 24px 0px;
    margin-bottom: 0px;
    width: 100%;
    transition: all 0.4s;
}

.signup-form-next-btn:hover{
    cursor: pointer;
}

.signup-form-next-btn-disabled{
    background-color: rgba(255, 135, 55, 0.603);
    border: none;
    border-radius: 2px;
    padding: 12px 24px;
    font-size: 1em;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 24px 0px;
    margin-bottom: 0px;
    width: 100%;
    transition: all 0.4s;
}

/* Signup try loader */

.signup-try-loader{
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    border-top: 3px solid rgb(23, 189, 23);
    animation: layoutLoader 1s linear infinite;
    z-index: 0;
}

.signup-try-loader-text{
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    width: 200px;
    height: 100px;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

/* ANIMATIONS */

@keyframes signupFormEnter1{
    0%{
        opacity: 0;
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes signupFormEnter2{
    0%{
        opacity: 0;
        transform: scale(0.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* Select */

.select-container{
    padding: 0;
    margin: 12px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 163, 204);
    position: relative;
    border-radius: 1px;
}

.select-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 42px;
    background-color: rgb(0, 163, 204);
    top: 0;
    right: 0;
    pointer-events: none;
}

.select-container::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid rgba(255, 255, 255, 0.877);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: calc(50% + 2px);
    right: 11px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

select {
    width: 100%;
    padding: 12px;
    border: none;
    font-size: 1em;
    margin: 0px;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}