.profile-container{
    padding: 0px;
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 100%;
}

.profile-container .p-user-info{
    padding: 12px;
    margin: 12px;
    margin-right: 1px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.432);
    flex: 1;
    overflow: auto;
    min-width: 200px;
}

.profile-container .p-user-info img{
    width: 100%;
    height: auto;
    max-height: 40%;
}

.p-user-books {
    padding: 0px;
    margin: 12px;
    overflow: hidden;
    min-height: calc(100vh - 94px);
    position: relative;
    flex: 4;
}

.p-user-scroll{
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.432);
    margin-bottom: 12px;
    height: calc(50% - 6px);
    overflow: hidden;
}

.profile-chat{
    padding: 12px;
    padding-left: 0;
    max-height: 100%;
    overflow: hidden;
    flex: 2;
    min-width: 300px;
}


@media screen and (max-width: 800px){
    .profile-container{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .p-user-info{
        margin: 12px !important;
        margin-bottom: 0px !important;
        max-width: calc(100vw - 24px);
        box-sizing: border-box;
    }

    .p-user-info img{
        max-height: none !important;
    }

    .p-user-books{
        margin: 12px !important;
        margin-bottom: 0px !important;
        max-width: calc(100vw - 24px);
        box-sizing: border-box;
    }

    .p-user-scroll{
        height: 50vh;
    }

    .p-user-scroll .left-arrow-container, .p-user-scroll .right-arrow-container{
        display: none;
    }

    .profile-chat{
        padding: 12px !important;
        grid-row-start: 2;
        height: 50vh;
        padding-bottom: 0px !important;
    }
}