.navbar{
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 70px;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all 0.6s;
    color: white;
    z-index: 1;
}

.navbar h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img{
    margin-right: 12px;
}

.navbar.scrolled{
    background-color: rgb(245, 243, 243);
    color: rgba(0, 0, 0, 0.733);
}

.navbar .navbar-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-btns a:nth-child(1){
    background-color: #2274A5;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-right: 6px;
}

.navbar .navbar-btns a:nth-child(2){
    background-color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    color: #2274A5;
    border: 1px solid #2274A5;
    margin-left: 6px;
}

