.navbar{
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 70px;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all 0.6s;
    color: white;
    z-index: 1;
}

.navbar a{
    color: white;
}

.navbar .brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.17em;
    font-weight: bold;
}

.navbar .brand:hover{
    cursor: pointer;
}

.navbar img{
    margin-right: 12px;
}

.navbar.scrolled{
    background-color: rgb(245, 243, 243);
}

.navbar.scrolled a{
    color: rgba(0, 0, 0, 0.733) !important;
}

.navbar .navbar-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-btns a:nth-child(1){
    padding: 12px 24px;
    border-radius: 4px;
    margin-right: 6px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.navbar .navbar-btns a:nth-child(2){
    padding: 12px 24px;
    border: 2px solid #2274A5;
    border-radius: 4px;
    margin-left: 6px;
    position: relative;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.navbar .navbar-btns a:nth-child(2):hover{
    background-color: #2274A5;
    color: white !important;
}

