.app-loader {
    position: absolute;
    z-index: 100000000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, var(--color1), var(--color2));
}

.app-loader::after{
  content: 'Loading...';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 70px));
  font-family: 'Roboto', sans-serif;
  color: white;
  animation: loadingText 1s ease-in-out infinite;
  font-size: 1.4em;
}

.app-loader svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appLoader 2s ease-in-out infinite;
}

@keyframes appLoader {
  0%{
    transform: translate(-50%, calc(-50% - 24px)) scale(1) ;
  }
  25%{
    transform: translate(-50%, calc(-50% - 24px)) scale(1.2) ;
  }
  50%{
    transform: translate(-50%, calc(-50% - 24px)) scale(1) ;
  }
  75%{
    transform: translate(-50%, calc(-50% - 24px)) scale(1.2) ;
  }
  100%{
    transform: translate(-50%, calc(-50% - 24px)) scale(1) ;
  }
}

@keyframes loadingText{
  0%{
    transform: translate(-50%, calc(-50% + 70px)) rotate(4deg) ;
  }
  50%{
    transform: translate(-50%, calc(-50% + 70px)) rotate(-4deg) ;
  }
  100%{
    transform: translate(-50%, calc(-50% + 70px)) rotate(4deg) ;
  }
}


@media screen and (max-width: 800px){
  .app-loader{
    position: fixed;
  }
}