/* HOME FIRST CONTAINER */

.home-first-container{
    height: 100vh;
    background: url('../../img/bg.jpg') center left;
    background-size: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.home-first-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(black, rgba(0, 0, 0, 0));
    opacity: 0.5;
}

.home-first-container div:nth-child(1){
    width: 70%;
    max-width: 1300px;
    padding: 12px;
    border-radius: 2px;
    font-size: 2em;
    text-align: center;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
}

.home-first-container h1{
    margin: 0;
    font-weight: 500;
}

.home-first-container p{
    font-weight: 300;
}

/* HOME SECOND CONTAINER */

.home-second-container{
    background-color: rgb(245, 243, 243);
    margin: 0;
    padding: 100px 12px;
    text-align: center;
    position: relative;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-second-container::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 100%;
    left: 50%;
    border-top: 50px solid rgb(245, 243, 243);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    transform: translateX(-50vw);
}

.home-instructions-1{
    display: flex;
    width: 80%;
    margin: 32px auto;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.home-instructions-1 div{
    margin: 0px 12px;
    padding: 12px;
    width: 25%;
    position: relative;
    font-weight: 400;
    line-height: 1.4em;
}

.join-now-btn{
    padding: 12px 24px;
    background-color: rgb(13, 177, 218);
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 2px;
    text-transform: uppercase;
}


/* HOME THIRD CONTAINER */

.home-third-container{
    background-color: rgb(68, 67, 67);
    margin: 0;
    padding: 0px 12px;
    padding-top: 140px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-our-qualities{
    display: flex;
    width: 80%;
    margin: 32px auto;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.home-our-qualities div{
    margin: 0px 12px;
    padding: 12px;
    width: 25%;
    position: relative;
    font-weight: 400;
    line-height: 1.4em;
}

.home-our-qualities div:nth-child(1)::after{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.404);
    width: 2px;
    height: 80%;
    top: 0%;
    right: -13px;
    transform: translateY(12%);
}

.home-our-qualities div:nth-child(2)::after{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.411);
    width: 2px;
    height: 80%;
    top: 0%;
    right: -13px;
    transform: translateY(12%);
}

/* HOME FOURTH CONTAINER */

.home-fourth-container{
    background-color: rgb(245, 243, 243);
    margin: 0;
    padding: 100px 12px;
    text-align: center;
    position: relative;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-fourth-container::before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: -50px;
    border-bottom: 50px solid rgb(243, 243, 243);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

.home-faq{
    display: flex;
    width: 80%;
    margin: 32px auto;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.home-faq div{
    margin: 0px 12px;
    padding: 24px;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    font-weight: 400;
    line-height: 1.4em;
    background-color: rgba(0, 0, 0, 0.103);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.home-faq div:hover{
    background-color: rgb(68, 67, 67);
    color: white;
}

.home-faq div h3{
    transition: all 0.5s;
    color: rgb(68, 67, 67);
}


.home-faq div:hover h3{
    color: rgb(13, 177, 218);
}

/* Mobile */

@media screen and (max-width: 800px){
    .home-first-container{
        width: 100%;
        font-size: 0.8em;
        background-position: center;
        background-size: cover !important;
    }

    .home-second-container{
        height: auto;
    }

    .home-instructions-1{
        display: block;
        max-height: 100%;
    }
    .home-instructions-1 div{
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        padding-bottom: 48px;
    }
    

    .home-third-container{
        height: auto;
        padding-top: 200px;
    }
    
    .home-our-qualities{
        display: block;
        max-height: 100%;
    }
    .home-our-qualities div{
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        margin-bottom: 48px;
    }

    .home-our-qualities div:nth-child(1)::after{
        display: none;
    }
    .home-our-qualities div:nth-child(2)::after{
        display: none;
    }


    .home-fourth-container{
        height: auto;
        padding-top: 200px;
    }
    
    .home-faq{
        display: block;
        max-height: 100%;
    }
    .home-faq div{
        margin: 48px auto;
        padding: 24px;
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        position: relative;
        border-radius: 50%;
        font-weight: 400;
        line-height: 1.4em;
        background-color: rgba(0, 0, 0, 0.103);
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
        cursor: default;
    }
}
