.publish-book-container{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.p-b-background{
    background-color: rgba(0, 0, 0, 0.445);
    height: 100%;
    width: 100%;
    animation: showPublishBG 0.4s ease-in-out;
}

@keyframes showPublishBG {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.p-b-background-out{
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

/* Form container */

.p-b-form{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding: 12px;
    animation: showPublishForm 0.5s ease;
}

@keyframes showPublishForm {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}

.p-b-form i:hover{
    cursor: pointer;
}

.p-b-form-closed{
    transition: all 0.4s;
    transform: translateX(500px);
}

/* Form inputs */

.p-b-form .p-b-input{
    position: relative;
}

.p-b-form .p-b-input input::placeholder{
    color: rgba(0, 0, 0, 0.705);
}

.p-b-form input{
    display: block;
    box-sizing: border-box;
    padding: 8px 4px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.219);
    font-size: 1em;
    position: relative;
    width: 100%;
    margin: 18px 0px;
    z-index: 1;
    transition: all 0.3s ease;
}

.p-b-form input:focus, .p-b-form input:valid {
    border-bottom: 2px solid rgb(0, 163, 204);
}

.p-b-form input + label {
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 4px;
    transition: all 0.2s ease;
}

.p-b-form input:focus + label, .p-b-form input:valid + label {
    transform: translate(0, -70%);
    font-size: 0.8em;
    color: rgb(0, 163, 204);
}

/* Textarea */

.p-b-form textarea{
    display: block;
    box-sizing: border-box;
    padding: 8px 4px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.219);
    font-size: 1em;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 24px 0px;
    z-index: 1;
    transition: all 0.3s ease;
    height: 100px;
}

.p-b-form textarea:focus, .p-b-form textarea:valid {
    border-bottom: 2px solid rgb(0, 163, 204);
}

.p-b-form textarea + label {
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 4px;
    transition: all 0.2s ease;
}

.p-b-form textarea:focus + label, .p-b-form textarea:valid + label {
    transform: translate(0, -30px);
    font-size: 0.8em;
    color: rgb(0, 163, 204);
}

/* Select */
.p-b-form select {
    width: 100%;
    border: 1px solid black;
    padding: 12px !important;
    font-size: 1em;
    margin: 12px 0px;
    box-sizing: border-box;
}