.feedview-container {
    padding: 12px;
    width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    position: relative;
    right: 0;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
}

.feedview-container .feedview-books{
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
}

@media screen and (max-width: 1100px){
    .feedview-container .feedview-books{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px){
    .feedview-container .feedview-books{
        grid-template-columns: 1fr 1fr;
    }
}

.feedview-load-more{
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 1em;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.feedview-load-more:hover{
    cursor: pointer;
    color: #2274A5;
    text-decoration: underline;
}