.feedview-container {
    padding: 0px;
    width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    position: relative;
    right: 0;
    background-color: #00979c41;
    display: flex;
    overflow: hidden;
}

.feedview-container .feedview-books{
    padding: 12px;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    width: 100%;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    min-height: calc(100% - 62px);
    max-height: 500px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.404);
    position: relative;
}

@media screen and (max-width: 1100px){
    .feedview-container .feedview-books{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px){
    .feedview-container .feedview-books{
        grid-template-columns: 1fr 1fr;
    }
}

.feedview-load-more{
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 1em;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.feedview-load-more:hover{
    cursor: pointer;
    color: #2274A5;
    text-decoration: underline;
}

.feedview-column-2{
    margin: 0px;
    max-height: calc(100vh - 94px);
    overflow: hidden;
    padding: 12px;
    padding-left: 6px;
    width: 100%;
}