.feed-container{
    padding-top: 70px;
}

/* CATEGORIES COLUMN */

.feed-container .feed-categories{
    font-size: 1em;
    font-weight: 300;
    padding: 12px;
    background-color: rgba(239, 241, 241, 0.514);
    max-height: calc(100vh - 70px);
    position: fixed;
    width: 20vw;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    overflow: scroll;
}

.feed-container .feed-categories p{
    margin: 12px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    padding: 12px 8px;
}

.feed-container .feed-categories p:hover{
    cursor: pointer;
    color: #2274A5;
    border-bottom: 1px solid #2274A5;
}

/* FEEDVIEW */

.feed-container .feedview-container {
    padding: 12px;
    max-width: 80vw;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background-color: gray;
}

.feed-container .feedview-container .feedview-books{
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 8px;
}

/* BOOK PREVIEW */

.feedview-books .book-preview{
    background-color: #2274A5;
    padding: 0;
    width: 100%;
}

.feedview-books .book-preview-img{
    background-color: black;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedview-books .book-preview img{
    height: 100%;
}

.feedview-books .book-preview p{
    margin: 4px 0px;
}

.feedview-books .book-preview .book-preview-title{
    margin: 4px 0px;
    color: rgba(0, 0, 0, 0.726);
    font-size: 1.17em;
    font-weight: bold;
}